---
import { basics } from "@cv";
import Section from "@/components/Section.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <!--Insert icon -->
                {city}, {region}
            </span>
            <footer>
                {
                    email && (
                        <a
                        href={`mailto:${email}`}
                        title={`Send an email to ${email}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                            <!--Insert icon -->
                        </a>
                    )
                }
            </footer>
            <figure>
                <img src={image} alt={name} />
            </figure>
        </div>
    </div>
</Section>


